jira_jql_proj_req_list_PR=/rest/api/2/search?jql=project%3DPR&expand=projects.issuetypes.fields&fields=id,summary,description,status,reporter,assignee,customfield_10112,customfield_10120,customfield_10123,customfield_10125,customfield_10411,customfield_10113,customfield_10127,customfield_10128,customfield_10129&status=REPLACE&startAt=0&maxResults=300
jira_jql_proj_req_list_IR=/rest/api/2/search?jql=project%3DIR&expand=projects.issuetypes.fields&fields=id,summary,status,customfield_10112,resolutiondate,priority,customfield_10115,customfield_10710,customfield_10713&status=REPLACE&startAt=0&maxResults=1000
jira_password=5ac2f73b2eb25f9ca9d57
jira_username=project-admin
jira_url=https://jira.rbfcu.org